@import "nullStyle.scss";
@import "adaptive-value.scss";

$maxWidth: 1440;
$minWidth:320;
$maxWidthContainer:1120;

$md1: maxWidthContainer;
$md2:992;
$md3:768;
$md4:480;

$lblue:#00FEFF;

body{
  font-family: Montserrat;
}
body.lock{
  overflow: hidden;
}

.wrapper {
  max-width: $maxWidth + px;
  margin: 0 auto;
}

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}

@import "header.scss";

.page {
		&__container {
		}

		&__body {
		}

		&__banner {
      @include adaptive-value('height', 560, 660, 1);
      @include adaptive-value('padding-top', 155, 173, 1);
      &::before{
        content: "";
        display: block;
        height: inherit;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        max-height: 680px;
        position: absolute;
        background: #012350 url("../img/bunner/bunner.jpg") no-repeat center;
      }
		}
}
.banner {
    display: flex;
    justify-content: space-between;
		&__content {
		}

		&__info {
      font-size: 14px;
      line-height: 140%;
      color: #FFFFFF;
      font-weight: 100;
      display: flex;
      flex: 0 1 450px;
      @media (max-width:$md3+px) {
        margin-top: 35px;
      }
      @media (min-width:$md3+px) {
        text-align: right;
      }
		}
}
.content-banner {

		&__title {
    font-weight: 900;
    @include adaptive-value('font-size', 50, 40, 1);
    @include adaptive-value('margin-bottom', 57, 45, 1);
    line-height: 110%;
    color: $lblue;
		}

		&__discusion {
		}
}
.discussion {

    &__info{
      @media (max-width:$md3+px) {
      display: flex;
      flex-wrap: wrap;
      }
      @media (min-width:$md3+px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      }
    }

		&__text {
      font-weight: 900;
      font-size: 18px;
      line-height: 103.32%;
      color: $lblue;
		}

		&__prise {
      font-size: 24px;
      line-height: 140%;
      color: #FFFFFF;
      font-weight: 100;
      margin: 15px 0 28px 0;
		}

		&__btn {
      @include adaptive-value('width', 253, 300, 1);
      height: 50px;
		}
}

.page {
		// .page__about
		&__about {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include adaptive-value('padding-top', 90, 45, 1);
		}
}
.about {

		// .about__text

		&__text {
      @include adaptive-value('font-size', 18, 16, 1);
      flex: 0 1 821px;
      line-height: 140%;
      color: #252D37;
      @media (max-width:$md2+px) {
        margin-top: 20px;
      }

		}
}


.page {

		&__service {
		}
}
.service {

		// .service__title

		&__title {
      @include adaptive-value('margin-top', 61, 45, 1);
      @include adaptive-value('margin-bottom', 52, 45, 1);
		}

		// .service__content

		&__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex: 0 1 auto;
		}
}
.content-service {
		// .content-service__item

		&__item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex: 0 0 26%;
      @include adaptive-value('margin-bottom', 75, 45, 1);
		}

		// .content-service__image

		&__image {
		}

		// .content-service__text

		&__text {
      font-weight: bold;
      font-size: 18px;
      line-height: 130%;
      color: #001E42;

		}
}

.service {

		// .service__pluses

		&__pluses {
      display: flex;
      flex-direction: column;
		}
}
.pluses {

  @media (max-width:$md3+px) {
    &__aim {
      order: 1;
		}
    &__dream {
      order: 2;
		}
    &__btn {
      order: 3;
      margin-bottom: 45px;
    }
  }

		// .pluses__dream

		&__dream {
		}

		// .pluses__btn

		&__btn {
      @include adaptive-value('width', 253, 300, 1);
      height: 50px;
      ._form-btn{
        width: 77%;
        &::after{
          width: 23%;
            right: -22%;
            background: #00FEFF url(../img/icons/arrow-link.svg) no-repeat;
            background-position: 47% 50%;
        }
      }
		}

		// .pluses__aim

		&__aim {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media (min-width:$md3+px) {
        flex-wrap: nowrap;
        @include adaptive-value('margin-top', 170, 100, 1);
        @include adaptive-value('margin-bottom', 120, 70, 1);
      }
		}
}
.dream {

		// .dream__title

		&__title {
      @include adaptive-value('font-size', 24, 22, 1);
      @include adaptive-value('margin-bottom', 31, 38, 1);
      font-weight: 700;
      line-height: 29 / 24 * 100%;
		}

		// .dream__texts

		&__texts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
		}

		// .dream__text

		&__text {
      @include adaptive-value('font-size', 18, 16, 1);
      @include adaptive-value('margin-bottom', 42, 30, 1);
      line-height: 140%;
      color: #252D37;
      @media (min-width:$md3+px) {
         flex: 0 1 529 / $maxWidthContainer * 100%;
      }
		}
}

.aim {

		// .aim__image-block

		&__image-block {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @media (min-width: $md3+px) {
        @include adaptive-value('margin-left', 45, 20, 1);
      }
      @media (max-width: $md3+px) {
        margin-bottom: 50px;
      }
		}

		// .aim__image-text

		&__image-text {
      display: inline-block;
      font-weight: bold;
      font-size: 48px;
      line-height: 115%;
      color: #001E42;
		}

		// .aim__text

		&__text {
      @include adaptive-value('font-size', 22, 20, 1);
      font-weight: bold;
      line-height: 130%;
      color: #001E42;
      flex: 0 1 521px;
      @media (max-width:$md3+px) {
        margin-bottom: 30px;
        flex: 1 1 521px;
      }
		}
}

.service {

		// .service__steps

		&__steps {
		}
}
.steps {

		// .steps__title

		&__title {
      @include adaptive-value('font-size', 24, 22, 1);
      @include adaptive-value('margin-bottom', 81, 45, 1);
      font-weight: bold;
      line-height: 29 / 24 * 100%;
      color: #001E42;
		}

		// .steps__start

		&__start {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      @media (min-width:$md2+px) {
        justify-content: space-between;
      }
      @media (max-width: 620px){
        justify-content: space-between;
      }
		}
}
.start-steps {

		// .start-steps__item

		&__item {
      padding: 5px;
      width: 276px;
      font-weight: bold;
      font-size: 18px;
      line-height: 18/22*100%;
      color: #001E42;
      position: relative;
      z-index: 3;
      flex: 0 1 298px;
      @include adaptive-value('margin-bottom', 130, 50, 1);
      &::before{
        content: "2";
        position: absolute;
        top: -120%;
        left: -4%;
        font-weight: bold;
        font-size: 96px;
        line-height: 117 / 96 * 100%;
        color: $lblue;
        z-index: -1;
      }
      &:first-child{
        &::before{
          content: "1";
        }
      }
      &:last-child{
        &::before{
          content: "3";
        }
      }
      @media (max-width:617px) {
        flex: 1 1 280px;
        margin-left: 15px;
      }
		}
}

.page {

		// .page__prices

		&__prices {
      @include adaptive-value('margin-bottom', 97, 60, 1);
		}
}
.prices {

		// .prices__title

		&__title {
      font-weight: bold;
      font-size: 50px;
      line-height: 61px;
      color: #001E42;
		}

		// .prices__body

		&__body {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
		}

		// .prices__content

		&__content {
      @include adaptive-value('font-size', 18, 16, 1);
      @include adaptive-value('width', 529, 330, 1);
      @include adaptive-value('margin-right', 30, 15, 1);
      flex: 1 1 500px;
      line-height: 140%;
      color: #252D37;
		}

		// .prices__kind

		&__kind {
      display: flex;
      flex-wrap: nowrap;
      flex: 1 1 400px;
      @media (max-width:$md3+px) {
        flex-wrap: wrap;
      }
		}
}
.content-prices {

		// .content-prices__text

		&__text {
		}

		// .content-prices__buttons

		&__buttons {
      display: flex;
      flex-wrap: nowrap;
      @media (max-width:$maxWidthContainer+px) {
        margin-bottom: 19px;
      }
		}

		// .content-prices__button

		&__button {
      margin: 8px 0 0 0;
      border: 2px solid #001E42;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #001E42;
      transform: matrix(1, 0, 0, 1, 0, 0);
      padding: 14px 17px;
      display: flex;
      align-items: center;
      &:last-child{
        margin-left: 10px;
      }
      img{
        margin-left: 11px;
        width: 22.5px;
        height: 21px;
      }
      &:hover{
        background-color: #F2F2F2;
      }
		}
}
.kind-prices {

		// .kind-prices__item

		&__item {
      @include adaptive-value('height', 321, 287, 1);
      @include adaptive-value('width', 259, 345, 1);
      border: 2px solid #001E42;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      flex: 1 1 300px;
      margin-right: 12px;
      @media (max-width:654px) {
        &:first-child{
          margin-bottom: 16px;
        }
      }
		}

		// .kind-prices__subtitle

		&__subtitle {
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      color: #001E42;
		}

		// .kind-prices__title

		&__title {
      font-weight: bold;
      font-size: 26px;
      line-height: 140%;
      text-transform: uppercase;
      color: #001E42;
		}

		// .kind-prices__count

		&__count {
      font-weight: bold;
      font-size: 70px;
      line-height: 115%;
      text-align: center;
      color: #001E42;
      height: 32%;
      position: relative;
		}

		// .kind-prices__count-tilmonth

		&__count-tilmonth {
      font-size: 20px;
      font-weight: normal;
      line-height: 24px;
      text-align: center;
      display: inline-block;
      color: #001E42;
      position: absolute;
      bottom: 0;
      left: 17%;
		}

		// .kind-prices__workplaces

		&__workplaces {
      font-size: 18px;
      line-height: 140%;
      color: #001E42;
		}
}


.page {

		// .page__customers

		&__customers {
		}
}
.customers {

		// .customers__title

		&__title {
      @include adaptive-value('font-size', 50, 34, 1);
      font-style: normal;
      font-weight: bold;
      line-height: 61 / 50 * 100%;
      margin-bottom: 60px;
      color: #001E42;
		}

		// .customers__logos

		&__logos {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      @media (max-width:$md3+px) {
        justify-content: space-evenly;
      }
		}

		// .customers__logo

		&__logo {
      @include adaptive-value('width', 162, 110, 1);
      @include adaptive-value('height', 110, 74, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 20%;
      @media (max-width:$md3+px) {
           flex: 0 0 25%;
      }
      @media (max-width:$md3+px) {
          flex: 0 0 30%;
      }
      img{
        filter: grayscale(1);
        width: 80%;
        &:hover{
          filter: grayscale(0);
        }
        @media (max-width:$md3+px) {
           filter: grayscale(0);
        }
      }
		}
}


.page {

		// .page__info

		&__info {
      color: #A5AAAF;
		}
}
.info {

		// .info__title

		&__title {
      @include adaptive-value('font-size', 20, 16, 1);
      @include adaptive-value('margin-bottom', 24, 13, 1);
      font-weight: bold;
      line-height: 24 / 20 * 100%;
		}

		// .info__body

		&__body {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
		}

		// .info__content

		&__content {
      flex: 0 1 47%;
      font-size: 13px;
      line-height: 120%;
      @media (max-width:$md3+px) {
        flex: 1 0 60%;
        &:first-child{
          margin-bottom: 15px;
        }
      }
      p {
        margin-bottom: 16px;
        &:last-child{
          margin: 0;
        }
      }
		}
}

@import "footer.scss";


._prise {
  font-size: 32px;
  font-weight: 700;
}

._form-btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 14 / 17 * 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #002047;
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding-left: 13px;
  width: 80%;
  height: 100%;
  color: #002047;
  background-color: $lblue;
  position: relative;
  transition: right 0.3s;
  &::after{
    content: "";
    width: 20%;
    position: absolute;
    top: 0;
    right: -15%;
    height: inherit;
    display: inline-block;
    background: $lblue url('../img/icons/arrow-link.svg') no-repeat center;
    transition: right 0.3s;
  }
  &:hover, &:hover:after{
    background-color: #20eeee;
  }
  &:hover:after{
    right: -19%;

  }
}

._title {
      @include adaptive-value('font-size', 50, 36, 1);
      font-style: normal;
      font-weight: bold;
      line-height: 50 / 61 * 100%;
      color: #001E42;
		}
._spk{
  color: #FFFFFF;
  @include adaptive-value('margin-top', 20, 5, 1);
}
